<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <title>Confirmation Pending</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:9292/browse">PROPERTY LIST<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <% if @user_id != nil %>
          <form action="/logout" method="post">
            <input type="submit" value="Logout" class="button">
          </form>
          <% end %>
        </div>
    </nav>
    <div style="margin-top: 80px;" class="container">
      <div class="col-md-5 mx-auto card">
        <div style="padding: 15px;" class="text-center">
          <h3>YOUR REQUEST HAS BEEN SENT TO THE PROPERTY OWNER</h3>
          <p><b>*Please make sure your read our terms and conditions</b></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <form action="http://localhost:9292/browse">
            <input type="submit" value="EXIT" class="btn btn-outline-primary">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
