<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <title>Confirmation Pending</title>
  </head>
  <body>
    <div style="margin-top: 80px;" class="container">
      <div class="col-md-5 mx-auto card">
        <div style="padding: 15px;" class="text-center">
          <h3>YOUR REQUEST HAS BEEN SENT TO THE PROPERTY OWNER</h3>
          <p><b>*Please make sure your read our terms and conditions</b></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <form action="index.html" method="">
            <input type="submit" value="EXIT" class="btn btn-outline-primary">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
