<%= flash[:notice] %>

<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <title>Homepage</title>
  </head>
  <body class="bg-primary" style="background: url(https://assets.serenity.co.uk/37000-37999/37760/996x492.jpg); background-size: cover; background-repeat: no-repeat;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a id="about_us" class="nav-link" href="#">ABOUT<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form action="/signup" class="form-inline my-2 my-lg-0">
            <input class="btn btn-outline-info my-2 my-sm-0" type="submit" value="SIGN-UP">
          </form>
        </div>
    </nav>
    <br>
    <div style="opacity: 0.9; margin-top: 40px; margin-bottom: 50px;" class="col-md-4 mx-auto card">
      <br>
      <h1 style="font-size: 70px;" class="text-center">MAKERS BNB</h1>
      <form action="/login" method="post">
        <div class="form-group">
          <label for="exampleSelect1"><b>SELECT TYPE OF ACCOUNT:</b></label>
          <select class="form-control" name="log_in_account" id="exampleSelect1">
            <option>RENT ACCOUNT</option>
            <option>ADVERTISE ACCOUNT</option>
          </select>
        </div>
        <div class="form-group">
         <label for="exampleInputPassword1"><b>EMAIL:</b> </label>
         <input type="email" class="form-control" name="email" id="exampleInputPassword1" placeholder="Please enter your email here">
        </div>
        <div class="form-group">
         <label for="exampleInputPassword1"><b>PASSWORD:</b> </label>
         <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Please enter your password here">
        </div>
          <input type="submit" value="LOGIN" class="btn btn-outline-info btn-block">
        <br>
      </form>
      <form action="/browse">
        <input type="submit" value="CONTINUE AS GUEST" class="btn btn-primary btn-block">
      </form>
      <br>
    </div>
    <script type="text/javascript" src="JQuery.js"></script>
  </body>
</html>
