<p style="background: white; text-align: center; color: red;"><%= flash[:warning] %></p>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <meta charset="utf-8">
    <title>Sign-up</title>
  </head>
  <body class="bg-primary">
    <br>
    <div class="col-md-6 mx-auto card">
      <br>
      <h2>SIGN-UP</h2>
      <br>
      <form action="signup" method="post">
        <div class="form-group">
            <label for="exampleSelect1"><b>SELECT TYPE OF ACCOUNT:</b></label>
            <select class="form-control" name="account_type" id="exampleSelect1">
              <option>SIGN-UP TO RENT</option>
              <option>SIGN-UP TO ADVERTISE</option>
            </select>
          </div>
          <div class="form-group">
          <label><b>NAME:</b></label>
          <input type="text" name="name" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
          <label><b>USERNAME:</b></label>
          <input type="text" name="username" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
          <label><b>EMAIL ADDRESS:</b></label>
          <input type="email" name="email" class="form-control" placeholder="Enter email">
          <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label><b>PASSWORD:</b></label>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div>
          <input type="submit" value="SUBMIT" class="btn btn-outline-primary btn-lg btn-block">
        </div>
      </form>
      <br>
      <form action="http://localhost:9292/">
        <input type="submit" value="RETURN HOME" class="btn btn-outline-primary btn-lg btn-block">
      </form>
      <br>
    </div>
    <br>
  </body>
</html>
