<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <meta charset="utf-8">
    <title>Booking Form</title>
  </head>
  <body class="bg-primary">
    <br>
    <div class="col-md-6 mx-auto card">
      <br>
      <h2>BOOKING FORM</h2>
      <small><b>ENTER DETAILS TO PROCESS:</b></small>
      <br>
      <form action="" method="">
        <div class="form-group">
          <label><b>FIRST NAME:</b></label>
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="form-group">
          <label><b>LAST NAME:</b></label>
          <input type="text" class="form-control" placeholder="Last name">
        </div>
        <div class="form-group">
          <label><b>EMAIL ADDRESS:</b></label>
          <input type="email" class="form-control" placeholder="Enter email">
          <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label><b>ABOUT YOU:</b></label>
          <textarea class="form-control" rows="3" placeholder="Write a couple of sentances about yourself for the owner"></textarea>
        </div>
        <div>
          <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
        </div>
      </form>
      <br>
    </div>
    <br>
  </body>
</html>
